*{ /*L'étoile ou l'astérique sélectionne tous les éléments de ma page} html*/
   font-family: fantasy;
}

body{
   width: 50%; /*largeur de ma page 50% de l'écran*/
   margin: auto;/*gestion automatique des marges pour que mon tableau soit centré*/
}

table{
   border: 4px solid #483d8b; /*bordure - 3 valeur : épaisseur/ type de trait/coileur*/
   border-collapse: collapse; /*par défaut la bordure contient 2 traits, pour que le trait soit unique*/
   width: 90%;
   margin: 25px;
}
thead, tfoot{
   background-color: #e6e6fa;
   border: 2px solid #6a5acd;
}
tbody{
   border: 1px solid #6a5acd
}
th{
   border: 1px dotted #6a5acd;/*dotted=pointillé*/
   padding: 4px;
   background-color: #e6e6fa;
   width: 25%;
}
td{
   font-size: 100%;
   border: 1px dotted #6a5acd;
   text-align: center;
   padding: 5px;/*padding = marge intérieur*/
}
td:first-child{/*1er <td> pour aligne le texte à gauche de la première cellule de chaque rangée*/
   text-align: left;
   background-color: #e6e6fa
}